.registeration-page{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #a8a3a3;
    .registeration-box{
        max-width: 28rem;
        width: 100%;
        padding: 2rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        .logo{
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            h2{
                margin: 0;
            }
            .otp-description{
                text-align-last: center;
                span{
                    font-weight: 600;
                }
            }
            img{
                width: 10rem;
                height: 4rem;
            }
        }
        .registration-form{
            display: flex;
            flex-direction: column;
        }
        .register-as{
            margin-bottom: 1rem;
            .radio-buttons{
                margin: 0.5rem 0;
            }
        }
        .button{
            padding: 0.6rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            font-size: 1rem;
            // margin-bottom: 1rem;
        }
        .login-link{
            text-align: center;
            font-size: 0.875rem;
            line-height: 1.25rem;
            a{
                color: #007bff;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}